doctype html
html 
  head
    title Krishna Music Academy
    block scripts
    block style  
  body
    body 
            nav#navbar 
                ul 
                    div#logo
                        img(src="static/img/pogo.png")
                        | KMA
                    li #[a(href='/') Home]
                    li #[a(href='/') About]
                    li #[a(href='/contact') Contact Us]
                    li #[a(href='/') Class Info]
                    li #[a(href='/') Services]
    block content
    section#FooterSection 
        | CopyRights © Krishna Music Academy.com | All rights reserved  